{% extends "SmcSiteBundle::layout.html.twig" %}
{% block middle %}
	<h1>User list</h1>
	
	<table class="records_list">
	    <thead>
	        <tr>
	            <th>Id</th>
	            <th>Utilisateur</th>
	            <th>Mot de passe</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	            <td>{{ entity.username }}</td>
	            <td>{{ entity.password }}</td>
	            <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('user_show', { 'id': entity.id }) }}">Afficher</a>
	                    </li>
	                    <li>
	                        <a href="{{ path('user_edit', { 'id': entity.id }) }}">Editer</a>
	                    </li>
	                </ul>
	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	
	<ul>
	    <li>
	        <a href="{{ path('user_new') }}">
	            Créer un nouvel utilisateur
	        </a>
	    </li>
	</ul>
{% endblock %}
